In [2]:
import pandas as pd

In [3]:
# 读取CSV文件
file_path = r'D:\EBAC\EBA5002 Business Analytics Practice\EBA2.5 BAP Practice Project\Analysis\Analysis Data.csv'
df = pd.read_csv(file_path)

In [6]:
# 使用groupby来计算每个product_category_name类别的price在每个year_month的求和
result = df.groupby(['year_month', 'product_category_name'])['price'].sum().reset_index()

# 使用pivot将数据重新排列，将product_category_name作为列名
result_pivot = result.pivot(index='year_month', columns='product_category_name', values='price')

# 填充缺失值为0
result_pivot = result_pivot.fillna(0)

# 重置索引
result_pivot.reset_index(inplace=True)

In [7]:
print(result)

     year_month                              product_category_name     price
0       2016-09                                                 AT      0.00
1       2016-09                                      beauty_health     44.99
2       2016-09                                furniture_decoracao     39.99
3       2016-09                                          telephony     59.50
4       2016-10                                                 AT     65.89
...         ...                                                ...       ...
1275    2018-08                                               toys  15967.18
1276    2018-08                                      watches_gifts  69995.81
1277    2018-09                                                 AT      0.00
1278    2018-09  furniture_cozinha_area_de_servico_jantar_e_jardim    145.00
1279    2018-10                                                 AT      0.00

[1280 rows x 3 columns]

In [12]:
# 保存结果到Excel文件
output_file_path = r'D:\EBAC\EBA5002 Business Analytics Practice\EBA2.5 BAP Practice Project\Analysis\sales_amount_result_pivot.xlsx'
result_pivot.to_excel(output_file_path, index=False)